<%- include('includes/header') %>

<main role="main">
  <div class="containerInfo">
    <div class="devideInfo">
      <div class="cards">
        <div class="profile">
          <img src="/assets/images/profile2.jpg" alt="Users" />

          <h1>Anabelisa Inácio Neto</h1>
          <p>Full Stack Developer</p>
        </div>
        <!--profile-->
      </div>
      <!--cards-->

      <div class="cards">
        <div class="itemsAlign"><%- include('includes/iconsLink') %></div>
        <!--itemAlign-->
      </div>
      <!--cards-->

      <div class="cards">
        <h2>Tecnologias</h2>

        <div class="techs">
          <h4>javascript</h4>

          <h4>reactjs</h4>

          <h4>nodejs</h4>
        </div>
        <!--techs-->

        <div class="techs">
          <h4>git</h4>

          <h4>github</h4>

          <h4>html</h4>
        </div>

        <div class="techs">
          <h4>css</h4>

          <h4>elixir</h4>

          <h4>react Native</h4>
        </div>
      </div>
    </div>
    <!--devideInfo-->

    <div class="devideMore-desktop">
      <div class="cards">
        <div class="between-text">
          <h2>My Projects</h2>
          <a href="#">Veja todos</a>
        </div>
        <!--between-->
      </div>
      <!--cards-->
      <div class="sectionProject">
        <div class="cards">
          <div class="itemMyOnix">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-folder"
            >
              <path
                d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"
              ></path>
            </svg>
            <h2>my-onix</h2>
          </div>
          <!--itemMyOnix-->
          <p>
            Consulte os codigos de erro que aparecem no painel do veiculo Onix
          </p>
          <%- include('includes/iconsStarGitBranch') %>
        </div>
        <!--cards-->

        <div class="cards">
          <div class="itemMyOnix">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-folder"
            >
              <path
                d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"
              ></path>
            </svg>
            <h2>my-onix</h2>
          </div>
          <!--itemMyOnix-->
          <p>
            Consulte os codigos de erro que aparecem no painel do veiculo Onix
          </p>

          <%- include('includes/iconsStarGitBranch') %>
        </div>
        <!--cards-->
      </div>
      <!--sectionProject-->

      <div class="cards">
        <h2>Recent Posts</h2>
      </div>
      <!--cards-->

      <div class="cards">
        <div class="profileImgInfo">
          <img src="/assets/images/profile2.jpg" alt="Users" />
          <div>
            <h3>
              Erro adb devices no Genymotion e Android Studio (React Native)
            </h3>
            <p style="margin-bottom: 2em">2 anos atrás</p>

            <p>
              Erro adb devices no Genymotion e Android Studio (React Native)
            </p>
            <div class="rastegInfo">
              <p>#react-native</p>
              <p>#genimotion</p>
              <p>#genimotion</p>
              <p>#genimotion</p>
            </div>
          </div>
        </div>
        <!--profileImgInfo-->
      </div>
      <!--cards-->
    </div>
    <!--devideMore-->
  </div>
  <!--containerInfo-->

  <div class="devideMore-mobile">
    <div class="cards">
      <div class="between-text">
        <h2>My Projects</h2>
        <a href="#">Veja todos</a>
      </div>
      <!--between-->
    </div>
    <!--cards-->
    <div class="sectionProject">
      <div class="cards">
        <div class="itemMyOnix">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-folder"
          >
            <path
              d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"
            ></path>
          </svg>
          <h2>my-onix</h2>
        </div>
        <!--itemMyOnix-->
        <p>
          Consulte os codigos de erro que aparecem no painel do veiculo Onix
        </p>
        <%- include('includes/iconsStarGitBranch') %>
      </div>
      <!--cards-->

      <div class="cards">
        <div class="itemMyOnix">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-folder"
          >
            <path
              d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"
            ></path>
          </svg>
          <h2>my-onix</h2>
        </div>
        <!--itemMyOnix-->
        <p>
          Consulte os codigos de erro que aparecem no painel do veiculo Onix
        </p>

        <%- include('includes/iconsStarGitBranch') %>
      </div>
      <!--cards-->
    </div>
    <!--sectionProject-->

    <div class="cards">
      <h2>Recent Posts</h2>
    </div>
    <!--cards-->

    <div class="cards">
      <div class="profileImgInfo">
        <img src="/assets/images/profile2.jpg" alt="Users" />
        <div class="formatingTexts">
          <h3>
            Erro adb devices no Genymotion e Android Studio (React Native)
          </h3>
          <p style="margin-bottom: 2em">2 anos atrás</p>

          <p>
            Erro adb devices no Genymotion e Android Studio (React Native)
          </p>
          <div class="rastegInfo">
            <p>#react-native</p>
            <p>#genimotion</p>
            <p>#genimotion</p>
            <p>#genimotion</p>
          </div>
        </div>
      </div>
      <!--profileImgInfo-->
    </div>
    <!--cards-->
  </div>
  <!--devideMore-->
</main>

<%- include('includes/footer') %>
